{
  "plugins": ["prettier-plugin-tailwindcss"],
  "singleQuote": true,
  "printWidth": 50,
  "trailingComma": "es5",
  "arrowParens": "always",
  "tailwindConfig": "./tailwind.config.js",
  "htmlWhitespaceSensitivity": "ignore"
}
